<!-- CSS -->

<style media="screen">
  {{ partial "css/main.css" . | safeCSS }}
</style>
<style media="(min-width: 600px)">
  {{ partial "css/min600px.css" . | safeCSS }}
</style>
<style media="(min-width: 769px)">
  {{ partial "css/min769px.css" . | safeCSS }}
</style>

{{ if .Site.Params.highlightjs }}
  <style type="text/css" media="screen">
    {{ partial "css/highlight.min.css" . | safeCSS }}
  </style>
{{ end }}

{{ if .Site.Params.progressively }}
  <style type="text/css" media="screen">
    {{ partial "css/progressively.min.css" . | safeCSS }}
  </style>
{{ end }}

{{ if .Site.Params.share }}
  <style type="text/css" media="screen">
    {{ partial "css/social-share-kit.css" . | safeCSS }}
  </style>
{{ end }}

{{ if .Site.Params.colors }}
  <style type="text/css" media="screen">
    {{ partial "css/colors.css" . | safeCSS }}
  </style>
{{ end }}

{{ range .Site.Params.extracssfiles }}
  <link rel="stylesheet" href="{{ . | absURL }}">
{{ end }}

<!-- Icon -->
<link rel="shortcut icon"
{{ if .Site.Params.faviconfile }}
    href="{{ .Site.Params.faviconfile | absURL }}"
{{ else }}
    href="{{ .Site.BaseURL }}img/favicon.ico"
{{ end }}
>

<!-- RSS -->
{{ if .RSSLink }}
  <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
{{ end }}

<script src="https://cdn.jsdelivr.net/npm/rrweb@latest/dist/record/rrweb-record.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/rrweb@0.7.0/dist/rrweb.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function(evt) {

    let events = [];

    rrweb.record({
      emit(event) {
        // push event into the events array
        events.push(event);
        console.log(events);
      },
    });

    // this function will send events to the backend and reset the events array
    function save() {
      const body = JSON.stringify({ events });
      events = [];
      fetch('http://YOUR_BACKEND_API', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body,
      });
    }

    // save events every 10 seconds
    // setInterval(save, 10 * 1000);



  });
  

</script>